{% extends 'shopping/base.html' %}
{% block body_block %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/table.css' %}">
<title>Purchased purchased</title>
<div>
    <h1>Details of items purchased.</h1>
    {% if items_list %}
        <table>
            <thead>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Update?</th>
                <th>Delete?</th>
            </thead>
            {% for item in items_list %}
            <tr>
                <td><a href="/shopping/detail/{{item.id}}">{{ item.name }}</a></td>
                <td><a href="/shopping/detail/{{item.id}}">{{ item.category }}</a></td>
                <td><a href="/shopping/detail/{{item.id}}">{{ item.price }}</a></td>
                <td><a href="/shopping/detail/{{item.id}}">{{ item.quantity }}</a></td>
                <td><a href="/shopping/update/{{item.pk}}">Update</a></td>
                <td><a href="/shopping/delete/{{item.pk}}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No items added for purchase. Please add items for purchase.</p>
    {% endif %}  
</div>
{% endblock %}